{% extends "layout.twig" %}

{% block title %}Lemur{% endblock %}

{% block content %}
  <div class="container jumbotron">
    {% if warn %}
      <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp;{{ warn }}</div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Lemur</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{ loginPath }}" class="btn btn-primary btn-lg"><span class="fa fa-github" aria-hidden="true"></span>&nbsp; Login with Github</a>
      </div>
    </div>
  </div>
{% endblock %}
