{% extends "layout.twig" %}

{% block title %}({{ pullRequests|length }}) Lemur{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-md-offset-11">
        <p class="text-right">
          <a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout</a>
        </p>
      </div>
    </div>
    <div class="row" id="pull-requests-wrapper">
      {% include 'pullRequests.twig' %}
    </div>
  </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("time.timeago").timeago();
      });

      var refresh = function () {
        $.get("/refresh", function(data) {
          $("title").html('(' + data.number_pull_requests + ') Lemur');
          $("#pull-requests-wrapper").html(data.html);
          jQuery("time.timeago").timeago();
        })
      };
      
      setInterval(refresh, {{ refreshTime }});
    </script>
{% endblock %}
