{% extends "layout.twig" %}

{% block content %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header col-md-12">
        <h1 class="navbar-brand">Lemur</h1>
        <p class="navbar-text navbar-right">
          <a href="/logout" class="navbar-link"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout</a>
        </p>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row" id="pull-requests-wrapper">
    </div>
  </div>
{% endblock %}

{% block js %}
    <script src="/js/main.js"></script>
{% endblock %}
