<?php
// put your client ID and secret here and rename the file to secrets.php
// DO NOT UPLOAD TO ANY REPOSITORY OR PUBLIC STORAGE!

$app['config.secrets.github_client_id'] = 'Client ID';
$app['config.secrets.github_client_secret'] = 'Client secret';